<nb-card>
   <nb-card-body>
      <nb-tabset (changeTab)="onTabChange($event)">
         <nb-tab tabTitle="Wszystko">
            <app-meals-list [meals]="meals"></app-meals-list>
          </nb-tab>
         <nb-tab tabTitle="Przystawki">
            <app-meals-list [meals]="meals"></app-meals-list>
         </nb-tab>
         <nb-tab tabTitle="Dania główne">
            <app-meals-list [meals]="meals"></app-meals-list>
         </nb-tab>
         <nb-tab tabTitle="Koreański Grill">
            <app-meals-list [meals]="meals"></app-meals-list>
         </nb-tab>
       </nb-tabset>
   </nb-card-body>
 </nb-card>

